/*!
 * Main Css
 */
.container .row nav.navbar {
  margin-bottom: 10px;
}

#login .form-group {
  position: relative;
}

#login .invalid-feedback {
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: right;
}

.in-out-block {
  margin-top: 10px;
  margin-bottom: 10px;
}