<div class="row">
    <div class="col-sm-12">
        <% layout('../layout') -%>
        <h1>Авторизация</h1>                
        <form id="login" method="post" action="/login">
            <div class="form-group">
                <label for="username">Email address</label>
                <input type="text" class="form-control <% if(errors[0]) { %> is-invalid <% } %>" id="username" name="username" aria-describedby="emailHelp" placeholder="Enter email">
                <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->                
                <% if(errors[0]) { %>
                    <div class="invalid-feedback">
                        <p><%= errors[0] %></p>
                    </div>
                <% } %>                  
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control <% if(errors[1]) { %> is-invalid <% } %>" id="password" name="password" placeholder="Password">
                <% if(errors[1]) { %>
                    <div class="invalid-feedback">
                        <p><%= errors[1] %></p>
                    </div>
                <% } %> 
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>