<% layout('../layout') -%>
<div class="row">
    <div class="col-sm-12">
        <h1><%= title %></h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <form id="form-add-user" method="post" action="/users/add">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">Логин</span>
                    </div>
                    <input type="text" class="form-control<% if(errors[0]) { %> is-invalid <% } %>" id="username" name="username" placeholder="Введите имя пользователя" aria-describedby="basic-addon3" />                    
                    <% if(errors[0]) { %>
                        <div class="invalid-feedback">
                            <p><%= errors[0] %></p>
                        </div>
                    <% } %>
                </div>
                <small id="emailHelp" class="form-text text-muted">Можно использовать латинские буквы.</small>                  
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">Пароль</span>
                    </div>
                    <input type="password" class="form-control<% if(errors[1]) { %> is-invalid <% } %>" id="password" name="password" placeholder="Введите Пароль" aria-describedby="basic-addon3">
                    <% if(errors[1]) { %>
                        <div class="invalid-feedback">
                            <p><%= errors[1] %></p>
                        </div>
                    <% } %>
                </div> 
                <small id="emailHelp" class="form-text text-muted">Пароль должен состоятить только из цифр.</small>
            </div>
            <button type="submit" class="btn btn-primary">Добавить</button>
        </form>    
    </div>
</div>